body{
  height: 100%;
  padding: 0;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Adjust the gap between images as needed */
  margin-top: 20px;
}

.image-item {
  flex: 1;
  max-width: calc(50% - 20px); /* Initially show 2 columns, adjust as needed */
  text-align: center; /* Center the image within the item */
  width: 500px;
  position: relative;
  margin-left: 40px;

}

.image-item img {
  max-width: 100%; /* Ensure images don't exceed the width of their container */
  display: block;
  width: 100%;
  cursor: pointer;


}



h3 {
  position: absolute;
  top: 10px; /* Adjust this value to position the text closer to the top */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}



.valign-center{
  display: inline-flex;
  align-items: center;
}

.button {
  display: block;
  margin: 10px auto; /* Center the "Show More" button */
  padding: 10px 20px;
  background-color: #007ae1;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0051a8;
}

.container2{
  display: flex;
  flex-direction: column;

}

.header1{
  top: 0;
  position: sticky;
  background-color: #9932CC;
  color: #fefefe;
  height: 40px;

}

slide img{
  height: 550px;
}

.title {
  color: blue;
  font-size: 40px;
  opacity: 0;
  animation: fadeInOut 5s linear ;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  5%, 95% {
    opacity: 1;
  }
}
