/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.custom-dialog-panel .mat-dialog-container {
  padding: 0;
}



.mat-form-field-label {
  color: #8e8e8e !important;
}


.mat-form-field-underline {
  background-color: #8e8e8e !important;;

}






.mat-form-field-flex {
  background-color: #f5f5f5;
}










.mat-form-field-appearance-outline.mat-form-field-ripple{
  background-color: #3f51b5 !important;
}
.mat-form-field-ripple {
  background-color: #3f51b5 !important;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #3f51b5 !important;
}



.mat-selected {
  color: green !important;
  background-color: green;
}


.mat-select-value {
  color: black !important;
}


.mat-datepicker-toggle .mat-datepicker-toggle-default-icon {
  color: #707070; /* Change this to the color you want when inactive */
}

.mat-datepicker-toggle.mat-datepicker-toggle-active .mat-datepicker-toggle-default-icon {
  color: #b0bec5; /* Change this to the color you want when clicked (active) */
}


.mat-menu-item {
  display: flex; /* Make items a flex container to align text and arrow horizontally */
  justify-content: space-between; /* Spread content to the edges */

  /* Optional: Add padding or margins to fine-tune the alignment */
  padding: 8px 16px; /* Adjust as needed */
}

/* Style the arrow icon (optional) */
.mat-menu-item .mat-menu-trigger {
  margin-left: 8px; /* Adjust the spacing between text and arrow as needed */
}

/* Remove the default padding on the menu items */
.mat-menu-content {
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
