@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";


body{
  margin: 0;

  color: #2e323c;
  background: #f5f6fa;

  min-height: 100vh; /* Set the body height to the full viewport height */

  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  align-items: center;
}





.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar .image-container .border  img {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.form-container{
  width: 100%
}

.form-containerp{
  height: 300px;
}


.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
.card1{
  width: 250px;
  height: 500px;
}

.card2{
  margin-left: 100px;
  width: 600px;
  flex-grow: 1;
  overflow-x: auto




}

.placeholder-container {
  position: relative;
  height: 650px; /* Adjust the height to be taller than the tallest tab content */
}






.image-container {
  position: relative;
  display: inline-block;
}

.border {
  border: 2px solid transparent; /* Set the border to transparent */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border img {
  border-radius: 50%; /* Make the image circular */
  width: 100%; /* Make the image fill the circular border */
  height: 100%; /* Make the image fill the circular border */
}

.camera-icon {
  position: absolute;
  bottom: 5px; /* Adjust the vertical position as needed */
  right: 5px; /* Adjust the horizontal position as needed */
  font-size: 20px; /* Adjust the icon size as needed */
  color: #000; /* Change the icon color to black */
  background-color: #fff; /* Change the icon background to white */
  border-radius: 50%; /* Make it circular */
  padding: 5px; /* Adjust the padding as needed */
  cursor: pointer; /* Add pointer cursor for interaction */
  opacity: 0; /* Start with 0 opacity */
  transition: opacity 0.3s ease; /* Add a transition for opacity */
}
.image-container:hover .camera-icon {
  opacity: 1; /* Show the icon on hover */
}
.container{
  flex: 1;
  height: 100%;
}

::placeholder {
  color: #8e8e8e;

}
